<div id="svg_container"></div>

Position
<div id="svg_top"></div>
<div id="svg_left"></div>
<div id="svg_bottom"></div>
<div id="svg_right"></div>

Move
<div id="svg_move_x"></div>
<div id="svg_move_y"></div>

Click start
<div id="svg_click_start_x"></div>
<div id="svg_click_start_y"></div>

Click end
<div id="svg_click_end_x"></div>
<div id="svg_click_end_y"></div>

Origin
<div id="svg_origin_x"></div>
<div id="svg_origin_y"></div>
