.cgg-comparison-widget {
     font-family: "proxima-nova", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
     font-size: 14px;
     font-smooth: always;
     background: #e4e4e4;
     color: #4f4f4f;
     -webkit-font-smoothing: antialiased;
 }
.cgg-comparison-widget-spacing {
    padding: 1px 0 1em;
}
.cgg-comparison-widget-no-spacing {
    padding: 0;
}
.cgg-comparison-widget a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

/* Global Button Colors */
.cag-btn--action {
    background: #156b9a;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.cag-btn--action:active,
.cag-btn--action:hover,
.cag-btn--action:focus {
    background: #13608b;
    color: #fff;
}
.cag-btn--cta {
    background: #f4a52f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.cag-btn--cta:active,
.cag-btn--cta:hover,
.cag-btn--cta:focus {
    background: #ee9816;
    color: #fff;
}



/* Bootstrap Container Update */
.container, .container-fluid {
    position: relative;
    max-width: 1036px;
}

/* Check CSS Start: Future Clean up */
/*****************************************/
.load-more {
    background: transparent !important;
    line-height: 30px;
    text-align: center;
    padding:18px 0 0;
    color: #156C9A;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
}
.load-more__fake-bg {
    background: transparent !important;
    margin-bottom: auto;
    color: #000;
}
.load-more:hover {
    color: #125c84;
    cursor: pointer;
    text-decoration: none;
}

.load-more .fa {
    vertical-align: middle;
    font-size: 1.5em;
}

.no_more_deal {
    color: #104867;
    font-size: 2em;
    margin-top: 20px;
	margin-bottom: 20px;
    font-weight: 600;
}

.goto_site {
    cursor: pointer !important;
}

.result-item__cta .btn-compare-now-disabled {
	display: none!important;
}

.visit-zh {
    font-size: 0.9em;
}

.tooltip.btn-promo-tooltip-pl {
    margin-left: -30%;
}

.main-menu .navbar-nav > li.dropdown-active > a {
  color: #333 !important;
}
.topline-nav-b, .topline-nav-g{
  display: none !important;
}
.fb{
  vertical-align: inherit;
  margin-right: 0px;
}
.flag{
  width: auto;
  height: auto;
  background: none;
}
.carousel-inner{
  height: auto;
}
.cgg-comparison-widget-tab_menu {
  height: auto;
}
.href-img{
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  background: none !important;
  cursor: default;
}

.btn-compare-now, .btn-compare-now:hover{
  /*border: none !important;*/
  text-align: center !important;
}
.my2-bigger{
  color: #104867;
  font-size: 1.375em;
  display: block;
  line-height: 1em;
  margin: 5px 0;
}
.panel-heading{
  border-radius: 0px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.panel-group .panel{
  border-radius: 0px;
}
#accordion h3{
  font-weight: bold;
  font-size: 1.3em;
  color: #333;
}
.pull-left, .pull-right {
margin-top: 0px;
}
.seo-container-btm .panel-body{
  background: #fff;
}

.seo-container-btm a, .seo-container-btm a:hover{
  color: #156c9a;
  text-decoration: none !important;
}

.tooltip.bottom .tooltip-arrow, .tooltip.top .tooltip-arrow {
  display: none;
}
.tooltip-inner {
  max-width: none;
  width: auto;
  background: #FFF;
  color: #787878;
  border: 1px solid #787878;
}
.content-editable{
  width: 70px !important;
  border: none !important;
  display: inline-block !important;
  box-shadow: none !important;
  color: #104866 !important;
  padding: 0px !important;
}
.cookies-info-static{
  background-color: #E9E9E9;
  border: 0 none;
  bottom: initial;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  position: static;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 999999;
  color: #787878;
}
.cookies-info-message-static{
  color: #787878;
  font-size: 16px;
}
.cookies-link-static, .cookies-link-static:hover{
  color: #104867;
}

.accept-cookies-button-static {
  background-color: #fff;
  border-color: #fff;
  color: #104867;
  height: auto;
  font-size: 16px;
  padding: 8px 12px;
  margin: 0px;
}

.front-text .sec_grp{
  background: none;
}

.main{
  margin-top: 0px;
  margin-bottom: 0px;
}

.center-text{
   text-align: center;
  }
.computed-text{
   color: #104866;
   font-size: 25px;
    font-weight: bold;
 }

@media screen and (max-width: 767px) {
  .no-gutter-mobile [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }

  .no-gutter-mobile-left [class*="col-"] {
    padding-left: 0;
  }

  .no-gutter-mobile-right [class*="col-"] {
    padding-right: 0;
  }
  .navbar-inverse {
    background-color: #FFF;
    border-color: #fff;
    margin-bottom: 0;
  }
  .navbar-inverse .navbar-toggle {
    border: none;
    padding: 10px;
    margin: 12px 3px 14px;
  }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #F7F7F7;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    height: 4px;
    margin-top: 3px;
    background: #72A941;
  }
  .navbar-inverse .navbar-collapse {
    border: none;
  }
  .main-menu .navbar-nav > li > a {
    color: #333 !important;
  }
  .main-menu .navbar-nav > li > a .active {
    background: #EEE !important;
  }
  .main-menu {
    background: #F7F7F7;
  }
  .main-menu .navbar-header {
    background: #fff;
  }
  .main-menu .navbar-header .menu-bar {
    position: absolute;
    left: -50px;
    top: 17px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    color: #006f9a;
  }
  .main-menu .navbar-header .navbar-brand {
    height: auto;
    width: 49%;
    padding-top: 20px;
    padding-left: 19px;
  }
  .main-menu .dropdown-menu {
    display: none !important;
  }
  .active-nav {
    background: #FFF;
  }
  .filter-container {
    background: #3CAF3F;
    padding: 0;
  }
  .filter-title {
    color: #fff;
    margin: 0 0 8px;
    display: block;
  }
  .loan-amt-error {
    top: -56%;
    right: 15px;
    left: initial;
    bottom: initial;
  }
  .loan-amt-error .tooltip-inner {
    text-align: center;
  }
  .hk-sign {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 13px;
    font-weight: 600;
    color: #808080;
    font-size: 16px;
  }
  .container-sort {
    background: #e3e4e4;
    min-height: 0;
  }
  .container-tabs {
    padding: 0;
  }
  .tab_mobile li a {
    font-weight: 500;
    font-size: 1.2em;
  }
  .result {
    margin: 0 10px 10px;
    border-radius: 2px;
  }
  .exclusive-product-container {
    background: #41a944;
  }
  .exclusive-product-container span {
    display: block;
    background: #2d762f;
    padding: 5px 14px;
    font-size: 1.14286em;
  }
  .product {
    padding: 10px 15px;
  }
  .product-subinfo-container {
    padding: 0;
  }
  .product-subinfo-container .sub-value {
    font-size: 0.9em;
  }
  .subinfo-list {
    line-height: 1em;
    padding: 5px 0;
  }
  .subinfo-list:nth-of-type(2) {
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    min-height: 35px;
  }
  .subinfo-list:nth-of-type(2) .subinfo-container {
    min-height: 75px;
  }
  .product-bottom-container {
    padding: 0;
  }
  .more-info-keyfeatures {
    margin-bottom: 10px;
    font-weight: 400;
  }
  .more-info-text {
    margin-left: 20px;
  }
  .more-info-container ul {
    padding: 10px 20px;
  }
  .for-reference {
    max-width: 100%;
    border-top: 1px solid #D1D1D1;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1em;
  }
  .chk_row_icon {
    font-size: 1em;
    line-height: 1.125em;
  }
  .product-maininfo-container, .product-info-container, .product-subinfo-container, .product-links-container, .product-allinfo-container {
    max-width: 100%;
  }

  .product-name-container, .product-img-container {
    vertical-align: middle;
  }
  .loading-container-load-more{
    background: none !important;
    margin: 0px !important;
  }
  .load-more {
    background: none;
    margin: 0 0 18px;
    height: 40px;
    line-height: 40px;
    color: #006f9a;
  }
  .load-more .fa.fa-caret-down {
    font-size: 1.3em;
    margin-top: -3px;
  }
  .load-more:hover {
    color: #006f9a;
  }
  .no_more_deal {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .seo-text-area h2 {
    line-height: 1em;
    font-weight: 600;
    font-size: 1.75em;
  }
  .seo-text-area .two-col {
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
  }
  .seo-panel {
    padding: 0;
  }
  .seo-panel .panel-group {
    margin-bottom: 0;
  }
  .seo-panel .panel-group .panel + .panel {
    margin-top: 0;
  }
  .seo-panel .panel-title a, .seo-panel .panel-title span.seo-title {
    color: #006f9a;
    font-size: 0.9em;
    font-weight: 600;
  }
  .seo-panel .caret {
    border-width: 8px;
  }
  .why-choose-container .media-body, .why-choose-container .media-object {
    min-height: 80px;
    line-height: 80px;
  }
  .why-choose-container .media-object {
    float: none !important;
    display: block;
    margin: 0 auto;
  }
  .why-choose-container .media-body {
    height: auto;
    line-height: 1em;
    font-size: 1em;
    text-align: center;
  }
  .why-choose-container .img {
    height: 75px;
    background-size: 60px;
    display: block;
    margin: 0 auto;
  }
  .why-choose-container .reason-1 {
    background-position: 0 4px;
    height: 62px;
  }
  .why-choose-container .reason-2 {
    background-position: 10px -57px;
    height: 75px;
  }
  .why-choose-container .reason-3 {
    background-position: 10px -124px;
    height: 75px;
  }
  .steps {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .steps .steps-img {
    width: 90px;
    height: 90px;
  }
  .steps .steps-img span {
    margin-top: 15px;
    background-size: 55px 175px;
    background-position: 11px 0;
    height: 60px;
  }
  .steps .steps-img span.step2 {
    background-position: 7px -61px;
  }
  .steps .steps-img span.step3 {
    background-position: 9px -120px;
  }
  .steps .steps-content > div:nth-child(3) > .steps-img > span {
    background-position-y: -120px;
  }
  .steps .carousel-indicators {
    bottom: -30px;
  }
  .steps .carousel-indicators .active {
    background-color: #156C9A;
  }
  .steps .carousel-indicators li {
    background-color: #C3C3C3;
    border-color: #999;
  }
  .why-choose-container {
    background-color: white;
    padding-bottom: 0;
  }
  .cx-says {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .cx-says .carousel-inner img {
    width: 90px;
  }
  .cx-says .carousel-indicators {
    bottom: -50px;
  }
  .cx-says em {
    color: #ffffff;
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
  }
  .cx-says p:nth-of-type(1) {
    padding-top: 15px;
    font-size: 1.3em;
    line-height: 20px;
    text-align: center;
  }
  .cx-says .cx-name {
    font-weight: 600;
  }
  .cx-says .quote {
    margin-left: auto;
    font-size: 2.5em;
    line-height: 10px;
  }
  .social h2 {
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .social .social-icons .socialmedia {
    height: 37px;
    width: 38px;
    margin: 3px;
    background-size: 225px;
  }
  .social {
    padding-top: 0px;
    margin-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }
  .social h1 {
    color: #ffffff;
  }
  .social .social-icons .socialmedia.gp {
    background-position: -93px 0;
  }
  .social .social-icons .socialmedia.blog {
    background-position: -412px 0;
  }
  .social .social-icons .socialmedia.yt {
    background-position: -140px 0;
  }
  .social .social-icons {
    padding: 15px 0 20px;
  }
  .subfooter .call {
    padding-left: 2.9em;
    font-size: 1.3em;
    line-height: 50px;
    font-weight: 400;
  }
  .subfooter .subfooter-content {
    font-size: 1.4em;
  }
  .subfooter .findout {
    line-height: 2em;
  }
  .subfooter .safe-hands-img {
    background: #0e4f72;
    border-top: 1px solid #135a80;
    border-bottom: 1px solid #135a80;
    margin: 15px -15px 0;
    padding: 20px 30px;
  }
  .subfooter .safe-hands-img .text-bold {
    font-size: .9em;
    display: inline-block !important;
    margin-left: 10px;
      line-height: 1.3em;
  }
  .subfooter .vertical-seperator {
    border-right: 1px solid rgba(21, 108, 154, 0.5);
  }
  .subfooter-content a{
    font-size: .8em;
  }
  .social .join-us {
    font-size: 1em;
  }
}

.show_this { display: block; }
.hide_this { display: none; }
.padding-0 { padding: 0px !important; }
.tooltip { font-weight: normal !important; }

.more-info-tab-pane{
  overflow-x: auto;
  width: 100%;
}

.btn-welcome ~ .tooltip { left: -20px !important; }

.loading-container-load-more {
  height: 58px;
  padding: 10px 0;
  line-height: 58px;
  text-align: center;
  color: #156C9A;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3em;
  text-decoration: none;
}

.loading-container-load-more .cgg-comparison-widget-bubbles{
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
  top: inherit;
  left: inherit;
  margin-left: 0px;
  padding-top: 8px;
}

.margin-0 { margin: 0px !important; }

.disclaimer {
    background: #f2f2f2;
    margin-top: 10px;
}
.disclaimer p {
    margin: 18px 0 10px;
    color: #797979;
}
.sitelock-zh-img {
    margin-top: -20px;
}

@media (min-width: 768px) {
    .sitelock-zh-img {
        margin-top: 0;
    }
}
/* Check CSS End: Future Clean up */
/*****************************************/