<div class="cgg-comparison-widget-brand"></div>
<div class="container-tabs">
    <div class="tab-menu cgg-comparison-widget-tab_menu"></div>
</div>
<div class="loader-position">
    <div class="cgg-comparison-widget-loader_container"></div>
    <div class="sort-menu clearfix cgg-comparison-widget-sort_menu"></div>
    <div class="cgg-comparison-widget-results"></div>
    <div class="cgg-comparison-widget-cart"></div>
</div>
<div class="cgg-comparison-widget-h2h"></div>