<a href="#" class="tab-menu__url tab-menu__url--expand">
    <span class="tab__icon">
        <i class="m-icon m-icon--bar-{{icon}}"></i>
    </span>
    <span>{{lang name}}</span>
    <i class="m-icon visible-xs arrow-icon m-icon--arrow-right"></i>
</a>
