<div class="container-fluid group--block">
	<div class="group--item clearfix">
		<span class="group--icon"><i class="m-icon m-icon--{{icon}}"></i></span>
		<span>{{lang titleKey}}</span>
	</div>
</div>

<div class="cgg-comparison-widget-results-group"></div>