<div class="cgg-comparison-widget-results-list"></div>

{{#if moreResultsLength}}
    <div class="paging">
        <div class="container-fluid">

            <div class="loading-container-load-more" style="display: none;">
                <div class="cgg-comparison-widget-bubbles">
                    <span id="cgg-comparison-widget-bubbles_1"></span>
                    <span id="cgg-comparison-widget-bubbles_2"></span>
                    <span id="cgg-comparison-widget-bubbles_3"></span>
                </div>
            </div>

            <a class="load-more btn-block">
                {{lang "paging_first"}} <span>{{moreResultsLength}}</span> {{lang "paging_last"}}
                <div class="load-more__fake-bg">
                    <i class="m-icon m-icon--arrow-down"></i>
                </div>
            </a>
        </div>
    </div>
{{/if}}

<div class="cgg-comparison-widget-results-disclaimer">
    <div class="sec_grp container-fluid hidden-xs">
        <p class="small text-center text-muted">
            {{lang "results_disclaimer"}}
        </p>
    </div>
</div>