<div class="loading-container">
    <div class="cgg-comparison-widget-bubbles">
        <span id="cgg-comparison-widget-bubbles_1"></span>
        <span id="cgg-comparison-widget-bubbles_2"></span>
        <span id="cgg-comparison-widget-bubbles_3"></span>
    </div>
    <div class="loading-text">{{lang "loading"}}</div>
</div>