<h4 class="sort-menu__text">{{{lang name}}}
    <span class="sort-menu__arrow hidden-xs hidden-sm">
        {{#if ordered}}
            {{#comp direction -1}}
                <i class="m-icon m-icon--caret-up arrow-disabled"></i>
                <i class="m-icon m-icon--caret-down default-arrow"></i>
            {{else}}
                <i class="m-icon m-icon--caret-up"></i>
                <i class="m-icon m-icon--caret-down default-arrow arrow-disabled"></i>
            {{/comp}}
        {{else}}
            <i class="m-icon m-icon--caret-up"></i>
            <i class="m-icon m-icon--caret-down default-arrow"></i>
        {{/if}}
    </span>
</h4>
