<!-- sort-menu__items: adjust width and align columns using bootstrap grid -->
<div class="sort-menu__items affix-top" id="affixbar">
    <div class="container-fluid">
        <!--Start:  sort-list - styles should be within the module -->
        <div class="col-md-4 col-sm-4 hidden-xs"></div>
        <div class="col-xs-11 col-sm-7 col-md-6 mobile-padding cgg-comparison-widget-sort_list"></div>
        <div class="col-xs-1 visible-xs mobile-padding"></div>
        <!--End: sort-list-->
    </div>
</div>
