/*  Start: ********************
/*  Global Hero
*******************************/

/* Hero */
.hero {
    background: #156b9a;
    color: #fff;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .hero {
        padding-bottom: 1em;
    }
}

.hero__h1 {
    font-weight: bold;
    font-size: 2em;
    margin:.75em 0;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .hero__h1 { margin: 1.5em 0 0 }
    .hero__p {
        font-size: 1em;
        margin-top: 5px;
        color: #cbdeed;
    }
    .hero__p--note {
        font-size: .85em;
        color: #84a6c2;
        display: none;
    }
    .hero__p > b,
    .hero__p > a {
        color: #fff;
    }
    .hero__p > a:hover {
        color: #a7dcf9;
        text-decoration: none;
    }

    .hero .quick-cta {
        float: right;
        margin-top: 45px;
    }
}

/*  End: **********************
/*  Global Hero
*******************************/