/*  Start: ********************/
/*  Global Tabs
*******************************/
.tab-menu .container-fluid {
    padding: 0;
}
@media (min-width: 768px) {
    .tab-menu {margin-top: 1.5em;}

    .cgg-comparison-widget-no-hero .tab-menu {
        margin-top: none;
    }

    .tab-menu .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cgg-comparison-widget-no-spacing .tab-menu {
        margin-top: 0;
    }
}
.tab-menu__toggle {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    background: #fff;
    border: 0 none;
    outline: none;
    /*border-bottom: 1px solid #ccc;*/

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.tab-menu__toggle .m-icon.arrow-icon, .tab-menu__url .m-icon.arrow-icon {
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 1.5em;
    color: #737373;
    margin: 0;
}
@media (min-width: 768px) {
    .tab-menu__toggle { display: none !important; }
}
.tab-menu__url .tab__icon {
    display: inline-block;
    text-align: center;
    margin: 0 5px 0 0;
    vertical-align: middle;
    min-width: 5px;
}
@media (min-width: 768px) {
    .tab-menu__url .tab__icon {
        margin: 0 5px 0 0;
    }
}

.tab-menu__url .tab__icon .m-icon {
    display: table-cell;
    color: #156c9a;
    font-size: 2.5em;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .tab-menu__url .tab__icon .m-icon {
        color: #fff;
    }
}
.tab-menu .tab-menu__toggle:active,
.tab-menu .tab-menu__toggle:focus {
    outline: 0 none;
    border: 0 none;
}
.tab-menu .tab-menu__toggle.collapsed:focus{
    border-bottom: 1px solid #ccc;
}
.tab-menu__toggle-text {
    display: block;
    padding: 8px;
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    color: #146c9a;
    padding-right: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.tab-menu__toggle-text .tab__icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0 5px 0 0;
    min-height: 35px;
    
}
.tab-menu__toggle-text .tab__icon .m-icon {
    display: table-cell;
    color: #156c9a;
    font-size: 2.5em;
    vertical-align: middle;
}
.tab-menu-mobile-label{
    position: absolute;
    right: 0;
    margin-right: 40px;
    line-height: 52px;
    color: #737373;
    font-size: .85em;
}

/* List */
.tab-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-top: 0 none;
    border-bottom: 1px solid #ccc;
}

@media (min-width: 768px) {
    .tab-menu__list {
        border: 0 none;

    }
    .navbar-collapse.collapse.tab-menu__list {
        display: table !important;
        width: 100%;
    }
}

/* Overwrite Bootstrap navbar-collapse style */
.tab-menu .tab-menu__list {
    margin: 0;
    max-height: 500px;
}
/* End Overwrite */

.tab-menu__item {
    display: block;
    border-top: 1px solid #e8e8e8;
    overflow: hidden;
}

@media (min-width: 768px) {
    .tab-menu__item {
        display: table-cell;
        border: 0 none;
        border-collapse: collapse;
        vertical-align: middle;
        overflow: hidden;
        text-align: center;
        font-size: 13px;
    }
    .tab-menu__item:after{
        content: "";
        border-width: 12px 16px 0;
        border-style: solid;
        border-color: transparent;
        display: block;
        width: 0;
        text-align: center;
        margin: 0 auto;
    }
    .tab-menu__item .tab__icon {
        display: none;
    }
}
@media (min-width: 992px) {
    .tab-menu__item {
        font-size: 12px;
    }

    .tab-menu__item .tab__icon {
        display: inline-block;
    }
}
@media (min-width: 768px) {
    .tab-menu__item:hover .tab-menu__url,
    .tab-menu__item--active .tab-menu__url {
        background: #75a94b;
        color: #fff;
    }
}

/* Tab URL */
.tab-menu__url {
    font-weight: normal;
    color: #787878;
    background: #fff;
    cursor: pointer;
    display: block;
    text-align: left;
    font-size: 1em;
    color: #176b9a;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    min-height: 51px;
    line-height: 2.3;
}
.tab-menu__item.active .tab-menu__url,
.tab-menu__url:hover {
    text-decoration: none;
    background: #f1f1f1;
}
a.tab-menu__url:focus {
	color: #fff !important;
}
@media (max-width: 767px) {
    .tab-menu__item.active{
        display: none;
    }
    .tab-menu__url{
        padding: 8px;
    }
}
@media (min-width: 768px) {
    .tab-menu__url {
        display: block;
        height: 50px;
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background: #156c9a;
        width: 100%;
        font-size: 0.8em;
    }
    .tab-menu__list .tab-menu__item:first-child .tab-menu__url{
        -webkit-border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;
    }
    .tab-menu__list .tab-menu__item:last-child .tab-menu__url{
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
    }
    .tab-menu__url > span {
        font-weight: bold;
        vertical-align: middle;
    }
    .tab-menu__item.active .tab-menu__url,
    .tab-menu__url:hover {
        background: #74aa4c;
    }
    .tab-menu__item.active:after{
        border-color: #75A94B transparent;
    }

}
.tab-menu__url span {
    vertical-align: middle;
}

/*  End: **********************/
/*  Global Tabs
*******************************/

/*  Start: **********************/
/*  Total Results
*******************************/

.cgg-comparison-widget.locale-en-SG .total-results {
    max-width: 530px;
}


.cgg-comparison-widget.locale-pt-PT .total-results {
    max-width: 557px;
}

.cgg-comparison-widget.locale-id-ID .total-results {
    max-width: 815px;
}


.total-results {
    width: 100%;
    max-width: 580px;
    display: table;
    margin: 0 auto;
    padding: 0;
}

.total-results__hero {
    display: table-cell;
	width: 15%;
	vertical-align: bottom;
}

.total-results__found-deals {
	display: table-cell;
}

.total-results__found-text {
    display: block;
    margin: 20px 0;
    max-width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1;
    text-align: center;
    color: #0a3653;
}

@media (min-width: 768px) {
    .total-results__found-text {
        text-align: left;
        padding: 0 5px;
        margin: 30px 0 15px 5px;
        text-align: left;
        font-size: 1.6em;
    }

    .cgg-comparison-widget-no-hero .total-results__found-text {
        float: none;
        padding: 0 5px;
        margin: 30px 0 15px;
        text-align: center;
        font-size: 1.6em;
    }

    .total-results__found-text .breaker{
        display: inline;
    }
}

.total-results__found-text > span,
.total-results__found-text > label {
    margin: 0;
    color: #156c9a;
}

.total-result-count {
    color: #444;
}
/*  End: **********************/
/*  Total Results
*******************************/
