<div class="{{class}}">
    {{#each rows}}
        <div class="{{class}}">
            {{#each columns}}
                <div class="{{class}}"></div>
            {{/each}}
        </div>
    {{/each}}
</div>